<h3 class="text-center">Product List</h3>
<hr/>
<div class="container">
  <div class="row mb-3 justify-content-center">
    <div class="col-sm-4">
      <input type="search" [(ngModel)]="searchTerm" (input)="searchProducts()" placeholder="Search..." class="form-control">
    </div>
    <div class="col-sm-2">
      <button class="btn btn-primary me-2" (click)="sortProducts('asc')">Sort Asc</button>
      <button class="btn btn-primary" (click)="sortProducts('desc')">Sort Desc</button>
    </div>
  </div>

  <div class="row mt-2">
    @for (product of productsArr | paginate: { itemsPerPage: 4, currentPage: p}; track $index) {
      <div class="col-sm-3 mb-3">
        <div class="card text-center h-100">
          <img src="{{product.image}}" class="card-img-top" alt="Product Image" style="height: 200px; object-fit: cover;">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{product.category}}</h5>
            <p class="card-text">{{product.id}}</p>
            <p class="card-text">{{product.title}}</p>
            <p class="card-text text-truncate">{{product.description}}</p>
            <p class="card-text">{{product.price}}</p>
            <p class="card-text">{{product.rating.rate}}
              <fa-icon [icon]="faStar"></fa-icon>
            </p>
            <a href="#" class="btn btn-sm btn-primary mt-auto w-auto mx-auto">Details</a>
          </div>
        </div>
      </div>
    }
  </div>

  <div class="row">
    <div class="col-sm-4 offset-4 mt-2">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>