<footer class="bg-dark text-white pt-4 border-top">
    <div class="container">
      <div class="row">
        <div class="col">
          <h6>About</h6>
          <ul class="list-unstyled">
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Careers</a></li>
          </ul>
        </div>
        <div class="col">
          <h6>Help</h6>
          <ul class="list-unstyled">
            <li><a href="#">Payments</a></li>
            <li><a href="#">Shipping</a></li>
            <li><a href="#">Cancellation</a></li>
          </ul>
        </div>
        <div class="col">
          <h6>Policy</h6>
          <ul class="list-unstyled">
            <li><a href="#">Return Policy</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Privacy</a></li>
          </ul>
        </div>
        <div class="col">
          <h6>Social</h6>
          <ul class="list-unstyled">
            <li><a href="https://www.facebook.com/flipkart">Facebook</a></li>
            <li><a href="https://www.twitter.com/flipkart">Twitter</a></li>
            <li><a href="https://www.youtube.com/flipkart">YouTube</a></li>
            <li><a href="https://www.instagram.com/flipkart">Instagram</a></li>
          </ul>
        </div>
      </div>
      <div class="text-center">
        <small>&copy; UI ANGULAR DEMO OF FLIPKART.</small>
      </div>
    </div>
  </footer>